body {
    width: 95%;
    max-width: 1000px;
    border: 1px black solid;
    margin: auto;
    text-align: center;
    font-family: "Caudex";
}

nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ol {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;
}

nav ol li {
    width: calc(100%/5);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    background-color: gainsboro;
}

/* MEDIA QUERY */
@media screen and (max-width: 480px){
    nav ol{
        flex-direction: column;
    }
    nav ol li{
        width: 100%;
    }

    article{
        display: block;
        width: 100%;
    }

    img{
        max-width: 100%;
    }
    
    body{
        width: 100%;
    }
}

h1{
    text-align: center;
    font-family: "Montserrat";
    font-variant: small-caps; /* versalitas*/
    background-color: cadetblue;
    color: aliceblue;
    margin: 0;
    padding: 20px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

h2:target{
    text-decoration: 10px underline rgb(96, 131, 162) ;
    color: darkgray;
}

li:hover{ /* Hover: Al pasar el ratón, cambia de color*/
    background-color: rgb(248, 252, 255);
    color: black;
}

article{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

img{
    max-width: 350px;
    width: 100%;
    height: 210px;
}

a{
    color: inherit;
    text-decoration: none;
}

p{  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    
}

footer{
    color: white;
    text-align: center;
    background-color: slategray;
    padding: 10px;
}