body{
    margin: auto 0;
    width: 100%;
    font-family: 'Merriweather', serif;
}

h1{
    background-color: lightsteelblue;
    color: white;
    margin: 0;
    padding-top: 25px;
    font-size: 30px;
    font-family: "Comic Neue";
    padding-left: 20px;
    text-align: center;
    height: 60px;
}

p{
    text-align: justify;
    padding-bottom: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    font-family: "Kedebideri";
}

ol{
    font-size:0;
    padding: 0;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    display: inline-block;
    width: calc(100%/5);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: black;
    background-color: gainsboro;
}

li:hover{
    background-color: rgb(83, 132, 145);
    color: aliceblue;
}

main{
    margin: 20px;
}

img{
    width: 47%;
    height: 47%;
    padding-bottom: 20px;
    padding-top: 10px;
}

article{
    text-align: center;
}

/* TABLA*/

table{
    margin: auto;
    background-color: rgb(224, 206, 184);
    border-collapse: collapse;
    width: 80%;
    border-bottom: 5px solid black;
    text-align: center;
}

thead{
    border-bottom: 2px dashed black;
}

caption{ /* Titulo de la tabla */
    padding: 7px;
    border-bottom: 10px solid rgb(70, 54, 29);
    font-size: 24px;
}

td{
    border-bottom: 2px dashed black;
    padding: 5px;
}

th{
    font-size: 20px;
}

td a{
    color: black;
    text-decoration: none;
}

/* MAIN*/

section {
    width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

article h2 {
    font-size: 32px;
    color: #b35c1e;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0c3a3;
    padding-bottom: 20px;
}

article p {
    font-size: 17px;
    margin: 30px;
    margin-bottom: 20px;
    text-align: justify;
}

span{
    font-weight: bold;
    color: #8b3e00;
    margin-top: 20px;
    font-size: 20px;
    font-variant: small-caps; /* Versalitas */
}

article p:last-of-type {
    margin-bottom: 0;
}

footer{
    margin: 0 auto;
    text-align: center;
}

/* Imagenes MUNDO MODERNO*/

#petra{
    width: 450px;
    height: 270px;
}

#china{
    width: 450px;
    height: 300px;
}

#mexico{
    width: 450px;
    height: 300px;
}

#brasil{
    width: 450px;
    height: 300px;
}

#roma{
    width: 450px;
    height: 300px;
}

#peru{
    width: 460px;
    height: 260px;
}

#india{
    width: 450px;
    height: 270px;
}

#babilonia{
    width: 430px;
    height: 270px;
    padding-right: 5px;
}