body{
    margin: auto 0;
    width: 100%;
    font-family: 'Merriweather', serif;
}

h1{
    background-color: darkslategray;
    color: white;
    margin: 0;
    padding-top: 25px;
    font-size: 30px;
    font-family: 'Georgia', serif;
    padding-left: 20px;
    text-align: center;
    height: 60px;
    font-variant: small-caps;
}

/* NAVEGACIÓN */

nav{
    font-family: "Kedebideri";
}

ol{
    font-size:0;
    padding: 0;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: forestgreen;
}

div{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding: 20px 0 10px 20px;
    color: black;
    background-color: gainsboro;
}

/* MAIN*/

section {
    width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

article{
    font-size: 32px;
    margin-bottom: 10px;
    border-bottom: 2px solid #948677;
    padding-bottom: 20px;
}

article h2 {
    font-size: 32px;
    color: steelblue;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #948677;
    padding-bottom: 20px;
}

article p {
    font-size: 17px;
    margin: 20px;
    text-align: justify;
}

article img {
    float: right;
    width: 200px;
    height: 290px;
    margin: 0 0 10px 20px;
    border-radius: 12px;
}

