body{
    width: 60%;
    border: 1px black solid;
    margin: auto;
    text-align: center;
    font-family: "Caudex";
}

h1{
    text-align: center;
    font-family: "Montserrat";
    font-variant: small-caps; /* versalitas*/
    background-color: cadetblue;
    color: aliceblue;
    margin: 0;
    padding: 20px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

h2:target{
    text-decoration: 10px underline rgb(96, 131, 162) ;
    color: darkgray;
}

nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol{
    padding: 0;
    font-size: 0;
}

li{
    display: inline-block;
    width: calc(100%/5); /* Al usar el calculo se divide el espacio para que entren los 4 apartados*/
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 10px 0;
}


li:hover{ /* Hover: Al pasar el ratón, cambia de color*/
    background-color: aliceblue;
    color: black;
}

article{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

img{
    width: 350px;
    height: 200px;
}

a{
    color: inherit;
    text-decoration: none;
}

p{  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    
}

footer{
    color: white;
    text-align: center;
    background-color: slategray;
    padding: 10px;
}