body{
    width: 95%;
    max-width: 1000px;
    border: 1px black solid;
    margin: auto;
    text-align: center;
    font-family: "Caudex";
}

nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ol{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;
}

nav ol li{
    width: calc(100%/5);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    background-color: gainsboro;
}

h1{
    text-align: center;
    font-family: "Montserrat";
    font-variant: small-caps;
    background-color: cadetblue;
    color: aliceblue;
    margin: 0;
    padding: 20px;
}

main{
    font-size: 0; 
    text-align: center;
}

section {
    font-size: 0; 
    text-align: center;
}

article {
    display: inline-block;
    width: 46%;
    margin: 1%; 
    vertical-align: top;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px; 
    text-align: center;
}

img {
    width: 100%;
    height: 210px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

h2{
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

h2:target{
    text-decoration: 10px underline rgb(96, 131, 162);
    color: darkgray;
}

li:hover{
    background-color: rgb(248, 252, 255);
    color: black;
}

a{
    color: inherit;
    text-decoration: none;
}

p{  
    font-family: Cambria, serif;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    color: white;
    text-align: center;
    background-color: slategray;
    padding: 10px;
}

/* MEDIA QUERY*/

@media screen and (max-width: 480px) {
    nav ol{
        flex-direction: column;
    }
    
    nav ol li{
        width: 100%;
    }

    article{
        display: block;
        width: 98%;
        margin: 0 auto 20px auto;
    }

    img{
        width: 100%;
        height: auto;
    }
    
    body{
        width: 100%;
    }
}