body{
    margin: auto 0;
    width: 100%;
    font-family: 'Merriweather', serif;
}
      
h1{
    background-color: grey;
    color: white;
    margin: 0;
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    text-align: center;
}

ol{
    font-size:0;
    padding: 0;
    height: 30px;
}

li{
    display: inline-block;
    width: 20%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;

}

li:hover{
    background-color: rgb(0, 105, 61);
    color: aliceblue;
}

main{
    margin: 40px;
}

p{
    text-align: justify;
    margin: 55px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 3px;
}

img{
    width: 47%;
    height: 47%;
    padding-bottom: 20px;
    padding-top: 10px;
}

article{
    text-align: center;
}


table{
    margin: auto;
    background-color: bisque;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 10px solid black;
    text-align: center;
}

thead{
    border-bottom: 2px dashed black;
}

caption{
    border-bottom: 10px solid rgb(221, 142, 16);
    font-size: 24px;
}

td{
    border-bottom: 2px dashed black;
    padding: 5px;
}

th{
    font-size: 20px;
}

section {
    width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

article h2 {
    font-size: 32px;
    color: #b35c1e;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0c3a3;
    padding-bottom: 10px;
}

article p {
    font-size: 18px;
    margin: 30px;
    margin-bottom: 20px;
    text-align: justify;
}

span{
    font-weight: bold;
    color: #8b3e00;
    margin-top: 20px;
    font-size: 19px;
}

article p:last-of-type {
    margin-bottom: 0;
}


/* Imagenes */

#petra{
    width: 450px;
    height: 250px;
}

#china{
    width: 450px;
    height: 250px;
}

