body{
    margin: 0;
    width: 100%;
    font-family: 'Merriweather', serif;
}

/* MEDIA QUERY */

@media (max-width: 480px) {
    div{
        flex-direction: column;
        align-items: center;
    }

    article img {
        width: 100%;
        max-width: 300px;
    }
}

h1{
    background-color: lightslategray;
    color: white;
    margin: 0;
    padding: 25px;
    font-size: 30px;
    font-family: 'Georgia', serif;
    text-align: center;
    font-variant: small-caps;
}

header > div{
    display: block; 
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    color: black;
    background-color: gainsboro;
    margin: 0;
}

header > div a{
    text-decoration: none;
    color: black;
}

header > div a:hover{
    color: cadetblue;
}

section{
    width: 95%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

article{
    border-bottom: 2px solid #948677;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

article h2{
    font-size: 32px;
    color: steelblue;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #948677;
    padding-bottom: 20px;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Deja espacio igual entre ellas */
    gap: 10px;
    margin: 20px 0;
}

article img{
    width: 31%;
    height: auto;
    display: block;
    cursor: pointer;
    border: 1px solid #ddd;
}

article p {
    font-size: 17px;
    margin: 20px;
    text-align: justify;
}

span {
    font-weight: bold;
    color: coral;
    font-size: 20px;
    font-variant: small-caps;
}

#mitologia {
    display: block;
    background-color: darkcyan;
    color: white;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    font-family: Georgia, serif;
    font-size: 20px;
    width: 100px;
    margin: 20px auto;
    text-decoration: none;
}

footer p {
   background-color: rgb(198, 230, 241);
   border-radius: 12px;
   width: 90%;
   max-width: 500px;
   text-align: center;
   margin: 0 auto;
   padding: 10px;
}