body{
    margin: auto 0;
    width: 100%;
    font-family: 'Merriweather', serif;
}

h1{
    background-color: darkslategray;
    color: white;
    margin: 0;
    padding-top: 25px;
    font-size: 30px;
    font-family: 'Georgia', serif;
    padding-left: 20px;
    text-align: center;
    height: 60px;
    font-variant: small-caps;
}

header > div{
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding: 15px;
    color: black;
    background-color: gainsboro;
    box-sizing: border-box; 
}

/* NAVEGACIÓN */

nav{
    font-family: "Kedebideri";
}

ol{
    font-size:0;
    padding: 0;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}

/* MAIN*/

section{
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
}

article{
    margin-bottom: 10px;
    border-bottom: 2px solid #948677;
    padding-bottom: 20px;
}

article h2{
    font-size: 32px;
    color: steelblue;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #948677;
    padding-bottom: 20px;
}

article p{
    font-size: 17px;
    margin: 20px 0;
    text-align: left;
    line-height: 1.6;
}

/* FOOTER */

footer{
    margin: 40px auto 20px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: #7f8c8d;
}

/* IMAGENES DIOSES */

.dioses{
    width: 20%;
    height: auto;
    display: block;
    margin: 10px auto 25px auto;
    border-radius: 12px;
    transition: transform 0.3s ease; /* Prepara la animación */
}

.dioses:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* MEDIA QUERY */

@media (max-width: 480px){
    ol {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
        text-align: center;
    }

    .dioses{
        width: 70%; 
    }

    article h2{
        font-size: 24px;
        padding-bottom: 10px;
    }

    section{
        width: 100%;
        padding: 10px;
    }
}