body{
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    height: 300px;
    border: 1px black solid;
}

header{
    text-align: center;
    
}

h1{
    background-color: darkseagreen;
    margin: 0;
    padding: 20px;
}

ol{
    font-size:0;
    padding: 0;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    display: inline-block;
    width: 20%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: black;
    
}

a:hover{
    color: rgb(99, 99, 99);
}

li:hover{
    background-color: rgb(151, 211, 228);
    color: rgb(99, 99, 99);
}

img{
    width: 35%;
    height: 50%;
    padding-left: 155px;
    padding-top: 20px;
}