body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(135, 182, 219);
    border-radius: 12px;
    width: 500px;
    margin: auto;
    padding: 8px;
}

form{
    background: #ffffff;
    padding: 20px;
    width: 600px;
    margin: auto;
    border-radius: 12px; /* Para que no se nos quede en forma de pico, el formulario*/
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

fieldset{
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 10px;
}

legend{
    font-weight: bold;
    color: #34495e;
    padding: 0 2px 0 2px;
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(69, 181, 167);
}

input{
    width: 300px;
    height: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
    display: block;
    margin-top: 8px;
    font-weight: 500;
    color: #2c3e50;
    text-align: left;
    padding-top: 0;
    padding-bottom: 8px;
}

label:nth-of-type(1){
    margin-top: 0;
}

textarea{
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    border-color: #3498db; /* Color al borde de la linea del textarea */
    box-shadow: 0 0 6px rgba(53, 153, 219, 0.3);
    width: 400px;
    height: 70px;
}

button{
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#terminos{
    float: right;
    width: 30px;
}

/* Botón de enviar */
button[type="submit"]{
    background-color: #3498db;
    color: #fff;
    font-weight: 600px;
    font-variant: small-caps;
    
}

/* Botón de borrar */
button[type="reset"]{
    background-color: #f1cde4;
    color: #2c3e50;
    font-weight: 600px;
    font-variant: small-caps;
    float: right;

}

button[type="submit"]:hover{ /* Al pasar el ratón cambia */
    background: #82b85b;
    transform: scale(1.05);
}

button[type="reset"]:hover{ /* Al pasar el raton cambia */
    background: #bdc3c7;
    transform: scale(1.05);
}

